header{
 height: 300px;
}
.header-logo img{
  width:25px;
  height:25px

}
.header-title{
 font-family: Yu Mincho;
 text-align: center;
 font-size: 40px
}
.main-title{
  font-family: Yu Micho;
  text-align: center;
}
