header{
  height: 0px;
}
.header-logo img{
  display: inline-block;
  width: 34px;
  height: 34px:


}
.main-title{
  height: 600px;
}
.big-title h1 {
 font-family: 'Allura', cursive;
 font-size: 80px;
 display:inline-block;
 padding-top: 200px;
 color:black;
 text-decoration: none;
 padding-left:500px;
 

}

.top-title {
  font-family: 'Allura', cursive;
  text-align: center;
  font-size: 2em;
  line-height: 6;
  display: block;
  padding-top: 200px;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #000000;

}
footer{
  height:5px;



}
.fab{
  color:#4dabf7;
  font-size: 1.7em;
}
